<!-- Jinja Template derived from Bootstrap base template -->
{% extends "bootstrap/base.html" %}
<!-- Tooltip Title -->
{% block title %}Movies{% endblock %}
{% block head %}
    <!-- Preserve yhe style of the base template -->
    {{ super() }}
    <!-- Include Bootstrap CSS Stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- In page styling - Background Image, Bootstrap Elements and Pagination elements -->
    <style>
        body {
            background-image: url("https://miro.medium.com/max/720/0*UjBJ_iTNESi6Zevk.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
        th, td{
            font-size: 25px;
        }
    </style>

{% endblock %}
<!-- Navigation bar -->
{% block navbar %}
<div class="navbar navbar-expand-sm bg-dark navbar-dark" role="navigation">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav">
                <!-- Inline styling of Home navigation (Home link resets the page to default) -->
                <li class="nav-item"><a class="nav-link" style="font-size: 2em" href="{{ url_for('logout') }}">Logout</a></li>
                <li class="nav-item"><a class="nav-link" style="font-size: 2em" href="{{ url_for('movies') }}">Home</a></li>
                <li class="nav-item"><a class="nav-link" style="font-size: 2em" href="{{ url_for('history') }}">History</a></li>
            </ul>
        </div>

    </div>
</div>
{% endblock %}

{% block scripts %}
    <!-- Preserve scripts of base template -->
    {{ super() }}
    <!-- Include Bootstrap and jQuery scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
    <!-- Inline styling of page heading -->
    <h1 style="text-align: center; background-color: floralwhite;color: maroon; font-size: 30px"> User Statistics!!!</h1>

    <!-- Presentation Logic -->
    <div class="container mt-3">
      <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th>User</th>
            <th>Total Searches</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ ulist[0] }}</td>
            <td>{{ ulist[1] }}</td>

          </tr>
        </tbody>
      </table>
    </div>

    <div class="container mt-3">
      <table class="table table-dark table-hover">
        <thead>
          <tr>
              <th>Summary</th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td>Action: </td>
              <td>{{ ulist[2] }}</td>


              <td>Comedy: </td>
              <td>
              {{ ulist[1] }}
                 </td>

              <td>Thriller: </td>
              <td>{{ ulist[4] }}</td>

              <td>Drama: </td>
              <td>{{ ulist[5] }}</td>

              <td>Horror: </td>
              <td>{{ ulist[6] }}</td>

              <td>War: </td>
              <td>{{ ulist[7] }}</td>

              <td>Romance: </td>
              <td>{{ ulist[8] }}</td>

              <td>Western: </td>
              <td>{{ ulist[9] }}</td>

              <td>Crime: </td>
              <td>{{ ulist[10] }}</td>

              <td>Adventure: </td>
              <td>{{ ulist[11] }}</td>

              <td>Other: </td>
              <td>{{ ulist[12] }}</td>


          </tr>
        </tbody>
      </table>
    </div>


    <div class="container mt-3">
      <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th>Movie Recommendations:        </th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
                Time accessed:{{ ulist[13] }}
            </td>
              <td>
                   Most searched: Comedy
              </td>
<td>
 <div >
        <ol>

            <li>How to Make a Fat Wife Out of Two Lean Ones</li>
            <li>Trouble in Hogan's Alley</li>
            <li>The Interrupted Bathers</li>
            <li>Who Said Watermelon?</li>
            <li>Scarecrow Pump</li>



        </ol>

 </div>

</td>

          </tr>
        </tbody>
      </table>
    </div>


{% endblock %}
